<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MeetingTFilmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MeetingTFilm">
        <id column="UUID" property="uuid" />
        <result column="film_name" property="filmName" />
        <result column="film_type" property="filmType" />
        <result column="img_address" property="imgAddress" />
        <result column="film_score" property="filmScore" />
        <result column="film_preSaleNum" property="filmPresalenum" />
        <result column="film_box_office" property="filmBoxOffice" />
        <result column="film_source" property="filmSource" />
        <result column="film_cats" property="filmCats" />
        <result column="film_area" property="filmArea" />
        <result column="film_date" property="filmDate" />
        <result column="film_time" property="filmTime" />
        <result column="film_status" property="filmStatus" />
    </resultMap>

    <select id="getFilmDetailByName" parameterType="java.lang.String" resultType="com.david.meeting.api.film.vo.FilmDetailVO">
        SELECT
            film.uuid AS filmId,
            film.film_name AS filmName,
            info.film_en_name AS filmEnName,
            film.img_address AS imgAddress,
            info.film_score AS score,
            info.film_score_num AS scoreNum,
            film.film_box_office AS totalBox,
            (
            SELECT
                GROUP_CONCAT( show_name SEPARATOR ',' )
            FROM
                meeting_t_cat_dict t
            WHERE
                FIND_IN_SET( t.UUID, ( SELECT REPLACE ( TRIM( BOTH '#' FROM film_cats ), '#', ',' ) FROM meeting_t_film ) )
            ) AS info01,
            CONCAT( film.film_source, ' / ', info.film_length, '分钟' ) AS info02,
            CONCAT( film.film_time, film.film_source, '上映' ) AS info03,
            CONCAT( film.film_source, ' / ', info.film_length, '分钟' ) AS info04
        FROM
            meeting_t_film film,
            meeting_t_film_info info
        WHERE
            film.UUID = info.UUID
            AND film.film_name LIKE #{filmName};
    </select>

    <select id="getFilmDetailById" parameterType="java.lang.String" resultType="com.david.meeting.api.film.vo.FilmDetailVO">
        SELECT
            film.uuid AS filmId,
            film.film_name AS filmName,
            info.film_en_name AS filmEnName,
            film.img_address AS imgAddress,
            info.film_score AS score,
            info.film_score_num AS scoreNum,
            film.film_box_office AS totalBox,
            (
            SELECT
                GROUP_CONCAT( show_name SEPARATOR ',' )
            FROM
                meeting_t_cat_dict t
            WHERE
                FIND_IN_SET( t.UUID, ( SELECT REPLACE ( TRIM( BOTH '#' FROM film_cats ), '#', ',' ) FROM meeting_t_film ) )
            ) AS info01,
            CONCAT( film.film_source, ' / ', info.film_length, '分钟' ) AS info02,
            CONCAT( film.film_time, film.film_source, '上映' ) AS info03,
            CONCAT( film.film_source, ' / ', info.film_length, '分钟' ) AS info04
        FROM
            meeting_t_film film,
            meeting_t_film_info info
        WHERE
            film.UUID = info.UUID
            AND film.UUID = #{uuid};
    </select>

</mapper>
